
@mixin flex-center {
    margin: 0 0 0 0;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin _strong($cor) {
    color: $cor;
}

%colors
{
    .javascript:hover{
        background-color: yellow;
        color: black;
    }
    .html:hover{
        background-color: #e65100;
        color: black;
    }
    .css:hover{
        background-color: #42a5f5;
        color: white;
    }
    .mysql:hover{
        background-color: lightblue;
        color: black;
    }
}